.root
    height: var(--viewportHeight, 100vh)
    width: 100%
    background: url(/static/backgrounds/wallpaperflare.com_wallpaper.jpg)
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    small
        opacity: 0.5
    .login
        max-width: 578px
        width: 100%
        padding: 0 1.5rem
        .card
            padding: 1.5rem
            border-radius: 6px
            position: relative
            .progress
                position: absolute
                width: 100%
                top: 0
                left: 0
            .localLogin
                display: flex
                flex-direction: column
                gap: 1rem
                .heading
                    margin-bottom: 0.75rem
                    a
                        text-decoration: underline
                .buttons
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin-top: 1rem
                    .side
                        display: flex
                        align-items: center
                        flex-direction: row
                        gap: 1rem
                        .qr
                            @media (max-width: 468px)
                                display: none
.qrWrapper
    background: #303030
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin: 1.5rem auto
    border-radius: 10px
    height: calc( 200px + 1.5rem )
    width: calc( 200px + 1.5rem )
    user-select: none
    .code
        position: relative
        height: 200px
        width: 200px
